.code-block {
	background-color: #EEE8D5;
    color: #586E75;
    border: 1px solid #002B36;
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;    
}

.question-block {
	background-color :palevioletred;
	 border: 1px solid #002B36;
    border-radius: 4px 4px 4px 4px;
    display: block;
    line-height: 18px;
    margin: 0 0 9px;
    padding: 8.5px;   
}

.question-block i {
	color: #000000;
}


.success_ajax {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #006600;
    float: left;
    font-weight: bold;
    margin-top: 20px;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 100px;
}

.failure_ajax {
    background-color: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    color: #990000;
    float: left;
    font-weight: bold;
    margin-top: 20px;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 100px;
}

.question_status {
    float: right;
    margin-left: 10px;
}